*{
    text-decoration: none;
    color: currentColor;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
/*--Css reset--*/
.container-head{
    max-width: 1900px;
    margin: 0% auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.page-header .row{
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    color: grey;
}
.button{
    background-color: skyblue;
    width: 50px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    text-align: center;
}
/*--main section--*/
.contianer-main{
    max-width: 1200px;
    margin: 0 auto;
}
.row-main{
    display: flex;
    flex-wrap: wrap;
}
.row-main .column-main{
    align-items: center;
}
